.fortsettUtenInntektsmelding {
    &__panel {
        border: 2px solid #ff9100;
        padding: 1.5625rem;
        margin: 1.5625rem 0 0.6875rem 0;
    }
    &__knapper {
        display: flex;
        gap: 1rem;
    }
    &__begrunnelse-subtext {
        font-weight: 400;
    }
}
